@import url("https://use.typekit.net/pxu6acr.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

@font-face {
    font-family: 'blaak';
    src: url(./../assets/fonts/BlaakRegular_PERSONAL.ttf),
        url(./../assets/fonts/BlaakBold_PERSONAL.ttf);
}

@font-face {
    font-family: 'blaakBlack';
    src: url(./../assets/fonts/BlaakBlack_PERSONAL.ttf);
}

:root {
    --IMD_Blue: #0600FF;
    --IMD_Blue_Dark: #0400B5;
    --IMD_Green: #CCF950;
    --IMD_Pink: #FCD7F7;
    --IMD_Pink_Dark: #ddadd7;
    --White: #FFF;
    --Grey: #EEEEEE;
    --box-shadow-grey: rgba(17,17,17,0.1);
    --Black: #111;
    --box-shadow: 5px 5px 7px 0px;
    --header-font: 'Archivo Black', sans-serif;
}

*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: museo-sans, sans-serif;
    font-style: normal;
}

h1, h2, h3 {
    font-family: var(--header-font);
    color: var(--Black);
}

body {
    width: 100%;
    background-color: var(--White);
}

a {
    text-decoration: none;
    color: inherit;
}

i.bi::before {
    line-height: 1.2;
}

.hide-mobile {
    display: none;
}

.hide-desktop {
    display: inherit;
}

/* OVERWRITE BASIC BOOTSTRAP CLASSES */
a:hover {
    color: var(--IMD_Blue_Dark);
}

.nav-link:hover {
    color: var(--IMD_Blue_Dark);
}

.btn-primary {
    background-color: var(--IMD_Blue);
    border-color: var(--IMD_Blue);
}

.btn-primary:hover {
    background-color: var(--IMD_Blue_Dark);
    border-color: var(--IMD_Blue_Dark);
}

.btn-outline-primary {
    color: var(--IMD_Blue);
    border-color: var(--IMD_Blue);
}

.btn-outline-primary:hover {
    background-color: var(--IMD_Blue_Dark);
    border-color: var(--IMD_Blue_Dark);
}

.btn-pink-outline {
    border-color: var(--IMD_Pink_Dark);
    color: var(--IMD_Pink_Dark);
}

.btn-pink-outline:hover {
    background-color: var(--IMD_Pink);
    border-color: var(--IMD_Pink);
    color: var(--White);
}

.nav-link {
    color: var(--IMD_Blue);
}

.bg-green {
    background-color: var(--IMD_Green);
}

.bg-pink {
    background-color: var(--IMD_Pink);
}

.logo {
    font-family: 'blaakBlack', museo-sans, sans-serif;
    font-size: 1.3em;
    letter-spacing: 1px;
    color: var(--IMD_Blue);
}

.menu-title {
    font-family: 'blaak', museo-sans, sans-serif;
    font-weight: bold;
}

.mb-8 {
    margin-bottom: 3rem !important;
}

.social-profiles__form>div>label {
    z-index: 100;
}

/* STYLE FOR PROFILE PAGE */

.profile__body {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profile {
    margin: 0 2em;
}

.profile__projects {
    display: none;
}

.profile__showcase {
    display: none;
}

.profile__course {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9em;
    color: rgb(165, 165, 165);
}

.profile__main {
    margin: 2em 0;
    min-height: 500px;
}

.profile__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.profile__imageBox {
    margin: 2em 0 0 0; 
    border-radius: 2px;
    width: 160px;
    height: 160px;
    border: 2px solid var(--Grey);
    max-width: 160px;
    max-height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.bi-person-bounding-box {
    font-size: 2em;
    padding: 1em;
    color: var(--Grey);
}

.profile__image {
    width: 100%;
    height: auto;
    /* border: solid 4px rgb(165, 165, 165); */
    border-radius: 2px;
    transition: .1s;
    overflow: hidden;
}

.profile__image__uploadLabel {
    display: inline-block;
}

.profile__mainInfo {
    display: inline;
}

.profile__description {
    font-weight: 300;
}

.profile__info {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: space-between; 
}

.profile__infoLink {
    margin: .6em 0;
    height: 24px;
}

#profilePersonalInfo {
    color: var(--IMD_Blue);
}

.profile__infoLink i {
    height: 32px;
    width: 32px;
    font-size: 1.6em;
    display: inline;
}

.profile__infoLink p {
    display: inline;
    font-weight: 300;
    padding-left: 6px;
}

.extra {
    display: none;
}


.profile__nav {
    background-color: var(--IMD_Pink);
    height: 48px;
    margin: 1.6em 0;
    box-shadow: 3px 5px 5px 0px rgba(224, 168, 220, 0.3);
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile__navBox {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.profile__link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: museo-sans, sans-serif;
    font-weight: 700;
}

.profile__link:active {
    color: var(--IMD_Blue);
}

.image-upload__form {
    background-color: rgb(236, 236, 236);
    padding: 2em;
    border-radius: 6px;
    position: fixed;
    z-index: 1;
    top: 30%;
    left: 2em;
    right: 2em;
    display: none;
    max-width: 500px;
}

.image-form__title {
    font-size: 1.5em;
}

.showcase {
    border: 1px solid var(--Black);
}

/* STYLE FOR ACCOUNT FORMS */

.register__form,
.signin__form,
.reset__password__form,
.forgot__password__form {
    background-color: var(--White);
    padding: 0 2em;
    border-radius: .5em;
    margin: 2em 2em 0 2em;
}

.form__link__password {
    text-align: left;
}

.form__link {
    text-align: center;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: 2px solid var(--IMD_Blue);
}

.form__title {
    font-family: blaakblack, museo-sans, sans-serif;
    font-size: 2.5em;
    color: var(--IMD_Blue);
    text-align: center;
}

.form-check-input:checked {
    background-color: var(--IMD_Blue);
    color: var(--IMD_Blue);
}

.arrow__back {
    font-size: 2em;
    color: var(--Black);
}

.arrow__back i {
    margin-bottom: .6em;
}

.check-error {
    color: tomato;
}

.check-success {
    color: forestgreen;
}

/* STYLE FOR LOGIN PAGE */
.login-header, .register-header {
    background-color: var(--IMD_Pink);
    padding: 1em 2em;
}

.login-header__banner, .register-header__banner {
    position: relative;
    background: url(../assets/img/home_banner.png) no-repeat bottom center;
    background-size: contain;
    min-height: 40vh;
}

.login-header__banner__textimg, .register-header__banner__textimg {
    position: absolute;
    width: 35%;
    max-width: 200px;
    left: 50%;
    top: 5%;
}

/* STYLE FOR PROJECTS */
.card-deck {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    min-width: 24em;
    min-height: 24em;
    max-width: 50em;
    max-height: 50em;
}

.card-title {
    font-family: var(--header-font);
    font-size: 1.5em;
}

.card-link {
    font-family: museo-sans, sans-serif;
}

.card-img {
    max-height: 300px;
}

/* STYLE FOR ACCOUNT SETTINGS AND CHANGING PASSWORDE, UPDATING BIO, ETC. */

/* STYLE PROJECT UPLOAD */
.imgGallery {
    margin-left: 1em;
    padding: 1em;
}

/* STYLE PROJECT DETAIL PAGE */
.project__coverImg>img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div#offcanvasNavbar {
        margin: 0 1em;
    }

    .register__form,
    .signin__form,
    .reset__password__form,
    .forgot__password__form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-upload__form {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .profile {
        margin: 0 10%;
    }

    .profile__imageBox {
        width: 200px;
        height: 200px;
        max-width: 200px;
        max-height: 200px;
    }

    .profile__navBox {
        justify-content: flex-start;
    }
    
    .profile__link {
        padding: 0 1em;
        margin: 0 1em;
    }

    .description-area {
        grid-area: 1 / 1 / 6 / 2;
    }

    .contact-area {
        grid-area: 6 / 1 / 10 / 2;
    }

    .extra-area {
        display: inline-block;
        grid-area: 1 / 2 / 7 / 3;
    }

    .extra__box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--IMD_Pink);
        margin-bottom: 1.6em;
    }

    .extra__box p {
        margin-bottom: 0;
        font-weight: 300;
    }

    .profile__info {
        /*box-shadow: 0px 10px 20px 0px rgba(17,17,17, 0.3);*/
        box-shadow: var(--box-shadow) var(--box-shadow-grey);
        border: 1px solid var(--box-shadow-grey);
        border-radius: 2px;
        padding: 24px;
        margin: 0;
    }

    .profile__infos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 16px;

    }

    .card-deck {
        justify-content: space-around;
    }

    .card {
        width: 18rem;
        height: 18rem;
    }
    
}

/* X-Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .hero-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
        min-height: 30vh;
        align-items: center;
        padding: 2em;
        gap: 2em;
    }

    .hero-image {
        grid-column: 1 / 2;
        width: 100%;
    }

    img.w-50 {
        width: 100% !important;
    }

    .hero-text {
        grid-column: 2 / 3;
        text-align: left;
        /*padding: 1em;*/
    }

    .hero-text>h1 {
        font-size: 3.2em;
    }

    .hero-cta {
        text-align: center;
        margin-top: 4em;
    }

    .register__form,
    .signin_form,
    .reset__password__form,
    .forgot__password__form {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    .image-upload__form {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
    }

    a.offcanvas-title {
        order: 3;
    }

    form#searchbar {
        order: 2;
    }

    div.navbar-expand-xl>.offcanvas-body:last-child {
        margin-right: 1rem;
    }

    #offcanvasNavbar {
        margin: 0 1em;
    }

    #nav__profile {
        order: 4;
    }

    .hide-mobile {
        display: inherit;
    }

    .hide-desktop {
        display: none !important;
    }

    /* GRID VOOR PROFILE EDIT PAGE VOOR ASIDE SUBMENU ON DESKTOP */
    .profile-edit__grid {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }

    .profile-edit__grid>aside {
        grid-column: 1 / 3;
    }

    .profile-edit__grid>form {
        grid-column: 4 / 12;
    }

    .profile-edit__grid .profile-edit__header {
        grid-column: 1 / 12;
    }

    .register-grid, .login-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 58px calc(100vh - 58px);
        height: 100vh;
    }

    .register-grid>header, .login-grid>header { 
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background-color: var(--White);
    }

    .register-grid>header>nav>a.navbar-brand {
        margin: 0;
    }

    .register-header, .login-header {
        grid-column: 1/2;
        grid-row: 2/3;
        height: 100%;
    }

    .register__form, .signin__form {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .form__title {
        justify-content: center;
    }

    .login-header__banner, .register-header__banner {
        background-size: contain;
        background-position: center;
        height: 100%;
    }

}